.header {
  width: 100%;
  padding: 0.5% 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  text-decoration: none;
  color: #000;

  font-size: 32pt;
}

.header_list {
  display: flex;
  justify-content: center;
}

.header_child {
  list-style: none;
  margin: 0 32px;
}

.header_link {
  text-decoration: none;
  color: #000;

  font-size: 16pt;
}

.test {
  font-size: 64pt;
  text-align: center;
}
